{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <title>Yo</title>

</head>
<body>
<h1>Hello World!</h1>
<select id="groups" class="form-control form-control-sm" name="groups" size="1">
{% for group in groups%}
    {% if group.cn and group.gidNumber %}
        <option value="{{ group.gidNumber }}">{{ group.cn }}</option>
    {% endif %}
{% endfor %}
</select>
</body>
</html>
