{% load static %}
<!DOCTYPE html>
<html lang="en">
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/user.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <title>ADStat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>

<div class="row">
    <div class="container">
        {% if user.is_authenticated %}
            Пользователь: {{ user.get_username }}
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">Login</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container mt-5">
                <div id="result"></div>
        </div>
    </div>

    <div class="col-3">
        <div class="card border-danger mt-5">
            <div class="card-header bg-light">
                <h4 class="card-title">ADStat (Unix attributes)</h4>
            </div>
            <div class="card-body">
                 <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#user_page">Карточка пользователя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#group_page">Карточка группы</a>
                    </li>
                </ul>
                <div class="tab-content">
                        <div class="tab-pane fade show active" id="user_page">
                                    {% include "adunix/card/user_card.html" %}
                        </div>
                        <div class="tab-pane fade" id="group_page">
                                    {% include "adunix/card/group_card.html" %}
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col"></div>
</div>
{% include "adunix/modal.html" %}
</body>
</html>
